


<h1> Address: <%= @apartment.street_address %></h1>
<p>Votes: <%= @apartment.petition.vote_count %></p>

<div id="calculator">
  <label>Number Of Units:</label>
  <input id="num-units" type="number" pattern="[0-9]*" inputmode="numeric" />

  <table id="calc-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Size</th>
        <th>2x/wk</th>
        <th>1x/wk</th>
        <th>.5x/wk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>64 gal</td>
        <td class="calc-output" data-gallons="64" data-pickups=2></td>
        <td class="calc-output" data-gallons="64" data-pickups=1></td>
        <td class="calc-output" data-gallons="64" data-pickups=0.5></td>
      </tr>
      <tr>
        <td></td>
        <td>96 gal</td>
        <td class="calc-output" data-gallons="96" data-pickups=2></td>
        <td class="calc-output" data-gallons="96" data-pickups=1></td>
        <td class="calc-output" data-gallons="96" data-pickups=0.5></td>
      </tr>
      <tr>
        <td></td>
        <td>2 cu yd</td>
        <td class="calc-output" data-gallons="404" data-pickups=2></td>
        <td class="calc-output" data-gallons="404" data-pickups=1></td>
        <td class="calc-output" data-gallons="404" data-pickups=0.5></td>
      </tr>
      <tr>
        <td></td>
        <td>3 cu yd</td>
        <td class="calc-output" data-gallons="605" data-pickups=2></td>
        <td class="calc-output" data-gallons="605" data-pickups=1></td>
        <td class="calc-output" data-gallons="605" data-pickups=0.5></td>
      </tr>
    </tbody>
  </table>

</div>
